@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: black;
    height: 100vh;
}

body {
    background-image: url(../pacote-d013/imagens/background-tokyo.jpg);
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#cellphone {
    position: absolute;
    background-color: aqua;
    height: 555px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent url(../pacote-d013/imagens/iphonez.png);
    background-repeat: no-repeat;


}

iframe#screen {
    position: relative;
    width: 271px;
    height: 491px;
    top: 47.9px;
    left: 19px;
    border-radius: 6px 6px 30px 30px;
    box-shadow: inset 3px 3px 5px;
}

section#media {
    text-align: right;
}

section#media img {
    height: 60px;
    margin: 10px;
    border: solid 2px #000000;
    border-radius: 50px;
    box-shadow: 10px 10px 20px #000000;
    box-sizing: border-box;
}

section#media img:hover {
    border: solid 4px #A502D7;
    transform: translate(-5%, -5%);
    transition: transform 0.3s;
}