@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: black;
    height: 100vh;
}

body {
    background-image: url(../pacote-d013/imagens/background-tokyo.jpg);
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#cellphone {
    position: absolute;
    background-color: aqua;
    height: 619px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent url(../pacote-d013/imagens/iphone8.png);


}

iframe#screen {
    position: relative;
    width: 265px;
    height: 469px;
    top: 81.9px;
    left: 23px;
    border-radius: 3px;
}